{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - My account{% endblock %}

{% block extraheader %}
{% endblock %}

{% block maincontent %}
    <!-- Main Content Section -->
    
    <div class="large-12 columns">
    
        <div class="row">
            <h3>
                Account page for {{nickname}}
            </h3>
        </div>
        
        <div class="section-container auto" data-section data-options="deep_linking: true">
        
            {% if panel == "1" %}
	        <section class="active">      
            {% else %}
            <section>
            {% endif %}
		        <p class="title" data-section-title><a href="#panel1">My profile</a></p>
		        <div class="content" data-slug="panel1" data-section-content>
		            <style>
		                input[readonly="readonly"]
                        {
                            background-color:lightgray;
                            padding: 4px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }
                    </style>
                    <form action="/myaccount" method="post">
		            <table width="100%">
		            	<tr>
		            		<td>e-Mail</td>
		            		<td><input type="text" value="{{emailaddr}}" readonly="readonly"></td>
		            	</tr>
		            	<tr>
		            		<td>Password</td>
		            		<td>
		            		<div class="row collapse">
                                <div class="small-9 columns">
                                    <input type="password" value="{{password}}" readonly="readonly">
                                  </div>
                                  <div class="small-3 columns">
                                    <a href="/changepassword" class="button postfix secondary">Change...</a>
                                  </div>
                                </div>
		            		 </td>
		            	</tr>
		            	<tr>
		            		<td>Member since</td>
		            		<td><input type="date" value='{{added|date:"Y-m-d"}}' readonly="readonly"></td>
		            	</tr>
		            </table>
		            <br />
		            <!--<button type="submit">Update</button>-->
					<p>&nbsp;</p>
                     <!-- Jusp updated? {{updated}} -->
                    {% if updated == "True" %}
                    <div>
                        <div data-alert class="alert-box warning radius">
                          Your account has been updated.
                          <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                    {% endif %}
                    </form>
		        </div>
	        </section>
              
            {% if panel == "2" %}
            <section class="active">
            {% else %}
            <section>
            {% endif %}     
		        <p class="title" data-section-title><a href="#panel2">My saved fables</a></p>
		        <div class="content" data-slug="panel2" data-section-content>      
					{% include "list_of_fables.html" %}
					<a href="#" class="radius button secondary" data-reveal-id="areYouSure_all">
					Delete all saved fables
					</a> 
					<p>&nbsp;</p>   
		        </div>
        	</section>
            
            {% if panel == "3" %}
            <section class="active">      
            {% else %}
            <section>
            {% endif %}     
                <p class="title" data-section-title><a href="#panel3">My purchased ebooks</a></p>
                <div class="content" data-slug="panel2" data-section-content>     
                    {% include "list_of_bought_fables.html" %}
                </div>
            </section>
        </div>
    </div>
   
{% include "list_of_fables_modals.html" %}    
    
{% endblock %}

{% block extralatejavascripts %}
	<script src="/js/foundation/foundation.abide.js"></script>
  	<script src="/js/foundation/foundation.section.js"></script>
  	<script src="/js/foundation/foundation.tooltips.js"></script>
  	<script src="/js/foundation/foundation.reveal.js"></script>
{% endblock %}
