{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - My account{% endblock %}

{% block extraheader %}
<link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
{% endblock %}

{% block maincontent %}
    <!-- Main Content Section -->
    
    <div class="large-12 columns">
    
        <div class="row">
            <h3>
                Account page for {{nickname}}
            </h3>
        </div>
        
        <div class="section-container auto" data-section data-options="deep_linking: true">
        
	        <section>      
		        <p class="title" data-section-title><a href="#panel2">My profile</a></p>
		        <div class="content" data-slug="panel2" data-section-content>
		            <table width="100%">
		            	<tr>
		            		<td>Name</td>
		            		<td><input type="text" value="{{name}}"></td>
		            	</tr>
		            	<tr>
		            		<td>Nickname</td>
		            		<td><input type="text" value="{{nickname}}"></td>
		            	</tr>
		            	<tr>
		            		<td>e-Mail</td>
		            		<td><input type="text" value="{{emailaddr}}"></td>
		            	</tr>
		            	<tr>
		            		<td>Member since</td>
		            		<td><input type="date" value="{{added|date:"Y/m/d"}}" readonly="readonly"></td>
		            	</tr>
		            	<tr>
		            		<td>Receive News?</td>
		            		
		            		<td><input type="checkbox"      		
		            		{% if receivenews == "True" %}
		            		cheched="checked"
		            		{% endif %}
		            		>
		            		          		
		            		</td>
		            	</tr>
		            </table>
		            <br />
		            <button type="button">Update</button>
					<p>&nbsp;</p>
		        </div>
	        </section>
                   
        	<section class="active">
		        <p class="title" data-section-title><a href="#panel1">My fables</a></p>
		        <div class="content" data-slug="panel1" data-section-content>      
					{% include "list_of_fables.html" %}
					<a href="#" class="radius button secondary" data-reveal-id="areYouSure_all">
					Delete all fables
					</a> 
					<p>&nbsp;</p>   
		        </div>
        	</section>
        </div>
    </div>
   

{% include "list_of_fables_modals.html" %}    
    
{% endblock %}

{% block extralatejavascripts %}
	<script src="/js/foundation/foundation.abide.js"></script>
  	<script src="/js/foundation/foundation.section.js"></script>
  	<script src="/js/foundation/foundation.tooltips.js"></script>
  	<script src="/js/foundation/foundation.reveal.js"></script>
	<script>Modernizr.load({
		  test: Modernizr.inputtypes.date,
		  nope: ['http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js'],
		  complete: function () {
		    $('input[type=date]').datepicker({
		      dateFormat: 'yy-mm-dd'
		    }); 
	  }
	});
	</script>
{% endblock %}