{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Administer users{% endblock %}

{% block maincontent %}
    <!-- Main Content Section -->
    
    <div class="large-12 columns">
        <div class="row">
            <h3>
                Welcome to administration page, {{nickname}}!
            </h3>
            <p>
                You can view and edit USERS here.
            </p>
        </div>

        <div class="row">
            <h5>
                USERS
            </h5>
        </div>
        
        <div class="row">
            <table id="tblusers" border="1" width="100%" cellspacing="0" cellpadding="3">
		      <thead>
		        <tr>
		          <th>&nbsp;</th>
		          <th>ID</th>
		          <th>Email</th>
		          <th>Name</th>
		          <th>Nickname</th>
		          <th>BirthDay</th>
		          <th>Added</th>
		          <th>Fables</th>
		          <th>News?</th>
		        </tr>
		      </thead>
		      <tbody>
		       {% for reguser in registered_users.object_list %}
		        <tr>
		          <td>
		            <input type="checkbox" id="{{reguser.user.user_id}}">
		          </td>
		          <td>
		          	<a href="/admin/user/{{reguser.user.user_id}}">{{reguser.user.user_id}}</a>
		          </td>
		      	  <td>
		          	{{reguser.email}}
		          </td>
		          <td>
		          	{{reguser.name}}
		          </td>
		          <td>
		          	{{reguser.nickname}}
		          </td>
		          <td>
		          	{{reguser.birthDate}}
		          </td>
		          <td>
		          	{{reguser.added}}
		          </td>
		          <td>
		          	{{reguser.nr_of_fables}}
		          </td>
		          <td>
		          	{{reguser.receivenews}}
		          </td>
		        </tr>
		        {% endfor %}
		      </tbody>
		    </table>
			    
		    <div align="center">
		      {% for i in pages %}
					{% ifequal i page %}
						{{ i }}
					{% else %}
						<a href='/admin/users{{ i }}'>
							{{ i }}
						</a>
					{% endifequal %}
			  {% endfor %}
  			</div>
          
          
        </div>

        <div class="row">
        	<button type="button">Delete</button>&nbsp;
        	<button type="button">Edit</button>
        </div>

        
    </div>
    

{% endblock %}