{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - All available fables{% endblock %}

{% block maincontent %}

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) 
    but to be to the right of the nav on larger screens -->
    <div class="large-12 columns">
        <div class="row">
            <h3>
                FableMe: Fables Catalogue
            </h3>
            <p>These are the fables available...</p>
        </div>
        <div class="row">

                    <table>
                    
					{% for fable in fables %}
					<tr>
						<td>
						
							<table>
								<tr>
									<td><img src="/img/{{fable.bookimg_boy}}" width="200" alt="Cover for boys"></td>
									<td><img src="/img/{{fable.bookimg_girl}}" width="200" alt="Cover for girls"></td>
								</tr>
								<tr>
									<td>Cover for boys</td>
									<td>Cover for girls</td>
								</tr>
							</table>
						
						</td>
						
						<td>
							<article>
		                    <h3>{{fable.title}}</h3>
		                    <p>{{fable.age_recomm}}</p>
		                    <ul>
			                    <li>Written by: {{fable.author_name}}</li>
			                    <li>Illustrated by: {{fable.author_ill}}</li>
			                    <li>Available in {{fable.languages}}<br/><br/></li>
			                    <li>{{fable.desc_short}}<br/><br/></li>
			                    <li><a href="/preview?issuu={{fable.issuu_id}}">Book preview</a></li>
			                    <li><a href="/book?bookid={{fable.id}}">More details...</a></li>
		                    </ul>
		                    <a href="/step?s=0&id=-1" class="radius button">Create this fable now!</a>
	                    	</article>
						</td>
						
					
					</tr>
					<tr><td colspan="2"><hr></td></tr>
					
					{% endfor %}
                    
                     </table>

              
        </div>
        <div class="row">
            <h3>
                &nbsp;
            </h3>
        </div>

    </div>

    
{% endblock %}

