{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - All available fables{% endblock %}

{% block maincontent %}

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) 
    but to be to the right of the nav on larger screens -->
    <div class="large-12 columns">
        <div class="row">
            <h3>
                FableMe: Fables Catalogue
            </h3>
            <p>These are the fables available...</p>
        </div>
        <div class="row">

                    <table>
                    
					{% for fable in fables %}
					<tr>
						<td width="45%" class="hide-for-small">
						
							<table>
								<tr>
									<td><img src="/img/covers/{{fable.bookimg_boy}}" width="200" alt="Cover for boys"></td>
									<td><img src="/img/covers/{{fable.bookimg_girl}}" width="200" alt="Cover for girls"></td>
								</tr>
								<tr>
									<td>Cover for boys</td>
									<td>Cover for girls</td>
								</tr>
							</table>
						
						</td>
						
						<td>
						      {% include "fable_details_create.html" %} 	
						</td>
						
					
					</tr>
					<tr><td colspan="2"><hr></td></tr>
					
					{% endfor %}
                    
                     </table>

              
        </div>
        <div class="row">
            <h3>
                &nbsp;
            </h3>
        </div>

    </div>

    
{% endblock %}

