{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - All available fables{% endblock %}

{% block maincontent %}

    <div class="row">
        <div class="large-12 columns">
            <h3>
                FableMe: Fables Catalogue
            </h3>
            <p>These are the fables available...</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="section-container auto" data-section>
                <section class="active">
                    <p class="title" data-section-title>
                        <b><a href="#panel1">FableMe Tales</a></b>
                    </p>
                    <div class="content" data-section-content>
                        {% for fable in fableme_books %}
                            <div class="row">
                                <div class="large-3 small-3 columns">
                                    <div class="orbit-container">
                                        <ul class="example-orbit" data-orbit
                                                data-options="timer: true;
                                                              timer_speed: 5000;
                                                              bullets:false;
                                                              slide_number:false;
                                                              navigation_arrows:false">
                                          <li>
                                            <img src="/img/covers/{{fable.bookimg_boy}}" alt="Cover for boys" />
                                            <div class="orbit-caption">
                                              For boys
                                            </div>
                                          </li>
                                          <li class="active">
                                            <img src="/img/covers/{{fable.bookimg_girl}}" alt="Cover for girls" />
                                            <div class="orbit-caption">
                                              For girls
                                            </div>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="large-1 small-1 columns">
                                    &nbsp;
                                </div>
                                <div class="large-8 small-8 columns">
                                 {% include "fable_details_create.html" %}
                                </div>
                            <hr>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title>
                      <b><a href="#panel2">Classic Fairy Tales</a></b>
                    </p>
                    <div class="content" data-section-content>
                        {% for fable in classic_books %}
                            <div class="row">
                                <div class="large-3 small-3 columns">
                                    <img src="/img/covers/{{fable.bookimg_boy}}" alt="Cover" />
                                </div>
                                <div class="large-1 small-1 columns">
                                    &nbsp;
                                </div>
                                <div class="large-8 small-8 columns">
                                 {% include "fable_details_create.html" %}
                                </div>
                            <hr>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>
                &nbsp;
            </h3>
        </div>
    </div>

    
{% endblock %}

{% block extralatejavascripts %}
    <script src="js/foundation/foundation.section.js"></script>
    <script src="js/foundation/foundation.orbit.js"></script>
{% endblock %}



