{% extends "skeleton.html" %}

{% block nav %}

    <nav class="top-bar bottomspacer">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1>
                    <a href="/"><span class="toptitle">FableMe.com</span></a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">

            <ul class="right">
                        
                {% if nickname %}
                <li class="has-dropdown">
                    <a href="#">My FableMe</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/myaccount">My account</a>
                        </li>
                        <li>
                            <a href="/myaccount">My fables</a>
                        </li>
                        <li>
                            <a href="{{logout_url}}">Sign out</a>
                        </li>
                        {% if isadmin %}
                        <li>
                            <a href="/admin/admin">Administration</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                
                {% else %}
                <li>
                    <a href="/register"><span class="signin">Sign In</span></a>
                </li>
                {% endif %}
                
                <li>
                    <a href="/create">Create a fable</a>
                </li>
                
                <li class="has-dropdown">
                    <a href="#">Fables</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/book?bookid=0">My voyage to Aragon</a>
                        </li>
                        <li>
                            <a href="/book?bookid=1">When I met the pirates</a>
                        </li>
                        <li>
                            <a href="#">The talisman of the Badia</a>
                        </li>
                        <li>
                            <a href="#">See all +</a>
                        </li>
                    </ul>
                </li>
                                    
                <li>
                    <a href="/howitworks">How it works</a>
                </li>
                <li class="has-dropdown">
                    <a href="#">Contacts</a>
                    <ul class="dropdown">
                        <li>
                            <a href="contact.html">Support</a>
                        </li>
                        <li>
                            <a href="contact.html">Customer Support</a>
                        </li>
                        <li>
                            <a href="contact.html">Contacts</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
  <!-- End navigation block -->
{% endblock %}

{% block main %}{% endblock %}  

{% block latejavascripts %}

    <script>
      document.write('<script src=/js/vendor/' +
      ('__proto__' in {} ? 'zepto' : 'jquery') +
      '.js><\/script>')
	</script>
	<script src="/js/foundation/foundation.js"></script>
	<script src="/js/foundation/foundation.topbar.js"></script>
	<script src="/js/vendor/custom.modernizr.js"></script><!-- Needed by WebIcons e Input Dates -->
		    
{% block extralatejavascripts %}	
{% endblock extralatejavascripts %}

    <script>$(document).foundation();</script>
    <!-- http://foundation.zurb.com/ -->
    

{% endblock latejavascripts %}

