{% extends "base_center.html" %}

{% block title %}FableMe - Buy eBook{% endblock %}

{% block maincontent %}

    <!-- Main Content Section -->
    <div class="large-12 small-12 columns">
    
        <div class="row">
        
            <div class="large-5 columns" align="center">
             
                	<fieldset>
                		<legend>Your eBook</legend>
                        <img name="cover_image" src="/img/covers/{{cover}}" alt="{{fable.title}}" />
                	</fieldset>
                            
           </div>
           
           <div class="large-7 columns">
           
                    <div class="row">
                    
                        <h2>{{fable.localized_title}}</h2>
                        <p> &nbsp;
                        Specifically printed in {{fable.language}} for <i>{{fable.character.to_nice_string}}</i></p>
                    
                    </div>
                    
                    <div class="row">
                    
                    	<fieldset>
                            <legend>PDF Version</legend>
                            
                            <ul class="small-block-grid-4">
                               <li>
                                    <img src="img/pdf_img.png" width="60%" alt="Buy the PDF version">
                               </li>                             
                               <li>
                                    {{ebook_price_string}}
                               </li>
                               <li>
                                    <a href="#" class="secondary radius button">Preview</a>&nbsp;
                               </li>
                               <li>
                                    <button id="customButton_pdf" class="radius button">Purchase</button>
                               </li>
                           </ul>
                           
                        </fieldset>
                    </div>
                    
                    <div class="row">
                    
                   	        <fieldset>
                            <legend>ePub Version</legend>
                            
                            <ul class="small-block-grid-4">
                               <li>
                                    <img src="img/epub.jpg" width="50%" alt="Buy the ePub version">
                               </li>
                               <li>
                                    {{ebook_price_string}}
                               </li>
                               <li>
                                    <a href="#" class="secondary radius button">Preview</a>&nbsp;
                               </li>
                               <li>
                                    <button id="customButton_epub" class="radius button">Purchase</button>
                               </li>
                           </ul>
                                              
                           </fieldset>
                    </div>
                    
                    <form id="orderform" action="/order" method="POST">
                        <input id="id" name="id" type="hidden" value="{{fable.id}}">
                        <input id="fmt" name="fmt" type="hidden" value="unknown">
                        <input id="stripeToken" name="stripeToken" type="hidden" value="unknown">
                    </form>
                    
           </div>
                       
        </div>
        
    </div>
        

{% endblock %}

{% block extralatejavascripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>  
<script>

  var STRIPE_PK = 'pk_test_Ofj68pEBZiRjxa0y8b4JPD4w';

  var handler_pdf = StripeCheckout.configure({
    key: STRIPE_PK,
    image: 'img/pdf_img.png',
    token: function(token) {
    	  console.log(JSON.stringify(token));
          $('#fmt').val('PDF');
          $('#stripeToken').val(token.id);
          $('#orderform').submit();
    }
  });
  
  var handler_epub = StripeCheckout.configure({
	    key: STRIPE_PK,
	    image: 'img/epub.jpg',
	    token: function(token) {
	      $('#fmt').val('EPUB');
	      $('#stripeToken').val(token.id);
	      $('#orderform').submit();
	    }
  });
  
  $( "#customButton_pdf" ).click(function(e) {
	  // Open Checkout with further options
	    handler_pdf.open({
	      name: 'FableMe Shop',
	      description: 'PDF eBook ({{ebook_price_string}})',
	      currency: 'EUR',
	      amount: {{ebook_price_cents}},
	      email: '{{user_email}}'
	    });
	    e.preventDefault();
  });
  
  $( "#customButton_epub" ).click(function(e) {
	// Open Checkout with further options
	    handler_epub.open({
	      name: 'FableMe Shop',
	      description: 'ePUB eBook ({{ebook_price_string}})',
	      currency: 'EUR',
	      amount: {{ebook_price_cents}},
	      email: '{{user_email}}'
	    });
	    e.preventDefault();
  });
  


</script>

{% endblock %}

