{% extends "base_center.html" %}

{% block title %}FableMe - Buy eBook{% endblock %}

{% block maincontent %}

    <!-- Main Content Section -->
    <div class="large-12 small-12 columns">
    
        <div class="row">
        
            <div class="large-5 columns" align="center">
             
                	<fieldset>
                		<legend>Your eBook</legend>
                        <img name="cover_image" src="/img/covers/{{cover}}" alt="{{fable.title}}" />
                	</fieldset>
                            
           </div>
           
           <div class="large-7 columns">
           
                    <div class="row">
                    
                        <h2>{{fable.localized_title}}</h2>
                        <p> &nbsp;
                        Specifically printed in {{fable.language}} for <i>{{fable.character.to_nice_string}}</i></p>
                    
                    </div>
                    
                    <div class="row">
                    
                        <fieldset>
                            <legend>Order</legend>
							
							<p> &nbsp;
                            After payment the book can be downloaded in all formats 
							made availabe by FableMe.com. 
							</p>
                        
                            <ul class="small-block-grid-4">           

                               <li>
                                    <img src="img/pdf_img.png" width="60%" alt="PDF">
                               </li>                                       
                               <li>
                                     <img src="img/epub.jpg" width="50%" alt="ePub">
                               </li>       
                               <li>
                                    <button id="customButton" class="radius button">
										Purchase
									</button>
                               </li>                      
                           </ul>
                           
                        </fieldset>
                    </div>
                    
                    <form id="orderform" action="/order" method="POST">
                        <input id="id" name="id" type="hidden" value="{{fable.id}}">
                        <input id="fmt" name="fmt" type="hidden" value="unknown">
                        <input id="stripeToken" name="stripeToken" type="hidden" value="unknown">
                    </form>
                    
           </div>
                       
        </div>
        
    </div>
        

{% endblock %}

{% block extralatejavascripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>  
<script>

  var STRIPE_PK = 'pk_test_Ofj68pEBZiRjxa0y8b4JPD4w';

  var handler_ebook = StripeCheckout.configure({
	    key: STRIPE_PK,
	    image: 'img/fableme_logo_xs.jpg',
	    token: function(token) {
	      $('#fmt').val('EBOOK');
	      $('#stripeToken').val(token.id);
	      $('#orderform').submit();
	    }
  });
  
  $( "#customButton" ).click(function(e) {
	// Open Checkout with further options
	    handler_ebook.open({
	      name: 'FableMe Shop',
	      description: 'eBook (EUR 4.99)',
	      currency: 'EUR',
	      amount: 499
	    });
	    e.preventDefault();
  });
  


</script>

{% endblock %}

