{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Buy eBook{% endblock %}

{% block maincontent %}

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                We are processing your order... Please wait
            </p>
        </div>
    </div>


    <!-- Main Content Section -->
    <div class="large-12 small-12 columns">
    
        <div class="row">
        
            <div class="large-5 columns">
             
                	<fieldset>
                		<legend>eBook</legend>

                        <img name="cover_image" src="/img/covers/{{cover}}" width="100%" alt="{{fable.title}}" />

                	</fieldset>
                            
           </div>
           
           <div class="large-7 columns">
           
                    <div class="row">
                    
                        <h2>{{fable.localized_title}}</h2>
                        <p><i> &nbsp;
                        Specifically printed for {{fable.character.to_nice_string}}</i></p>
                    
                    </div>
                    
                    <div class="row">
                    
                        <fieldset>
                            <legend>PDF Version</legend>
                            
                            <ul class="small-block-grid-4">
                              
                               <li>
                                    <img src="img/pdf_img.png" width="60%" alt="Buy the PDF version">
                               </li>                             
                               <li>
                                    4.99 &euro;
                               </li>
                               <li>
                                    <a href="#" class="secondary radius button">Preview</a>&nbsp;
                               </li>
                               <li><a href="/order?id={{fable.id}}&fmt=PDF" id="downloadbtn" class="radius button">Buy</a></li>
                           </ul>
                           
                        </fieldset>
                    </div>
                    
                    <div class="row">
                    
                   	        <fieldset>
                            <legend>ePub Version</legend>
                            
                            <ul class="small-block-grid-4">
                               <li>
                                    <img src="img/epub.jpg" width="50%" alt="Buy the ePub version">
                               </li>
                               <li>
                                    4.99 &euro;
                               </li>
                               <li>
                                    <a href="#" class="secondary radius button">Preview</a>&nbsp;
                               </li>
                               <li>
                                    <a href="/order?id={{fable.id}}&fmt=EPUB" id="downloadbtn" class="radius button">Buy</a>
                               </li>
                           </ul>
                                              
                           </fieldset>
                    </div>
                    
           </div>
                       
        </div>
        

    
    </div>
        

{% endblock %}

{% block extralatejavascripts %}
    <script src="/js/vendor/spin.js"></script>  
    <script type="text/javascript">
        $(function () {
            $("#downloadbtn").click(function () {
                $("#loading").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loading');
                var spinner = new Spinner(opts).spin(target);
            });
        });
    </script>

{% endblock %}

