{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
  <!-- Main Page Content and Sidebar -->
  
  <div class="row">

    <!-- Contact Details -->
    <div class="large-9 columns">

	  <div class="row">
	      <h3>Get in Touch!</h3>
	      <p>
	        We'd love to hear from you. You can either reach out to us as a whole and one of our awesome 
	        team members will get back to you, or if you have a specific question reach out to one of our 
	        staff. We love getting email all day <em>all day</em>.
	      </p>
      </div>
      <div class="row">
      	  <form id="contact_form" method="post" novalidate data-abide>
      	  <fieldset>
      	  <legend>Send us a note</legend>
		      <table>
		      	<tr>
		      		<td>Your e-Mail address:</td>
		      		<td colspan="2"><input name="contactEmail" type="email" required pattern="email">
		      		<small class="error">An email address is required.</small>
		      		</td>
		      	</tr>
		        <tr>
		      		<td>Your name:</td>
		      		<td colspan="2"><input type="text" name="contactName" required pattern="alpha_numeric">
		      		<small class="error">A name is required.</small>
		      		</td>
		      	</tr>
		        <tr>
		      		<td>Type of message:</td>
		      		<td colspan="2"><select name="contactProblem">
					   <option value="commercial">Commercial/Business</option>
					   <option value="fable">I have a problem with a fable</option>
					   <option value="suggestions">Suggestions/Comments/Criticism</option>
					   <option value="other">Other</option>
					</select> </td>
		      	</tr>
		      	<tr>
		      		<td>Please prove you are human:</td>
		      		<td><i>Type the sum of {{x_num}}+{{y_num}} : </i>
                        <input type="hidden" name="xpassword" id="xpassword" value="{{xyxy}}">
                    </td>
		      		<td>     
                        <script>
                        
                        var checkMatch = function()
                        {
                        	var thoughtVal = $('#xpassword').val();
                        	var inputVal = $('#typeText').val();
                        	
                        	if (thoughtVal != inputVal)
                        	{
                        		$('#typeText').val('');
                        		$('#typeText').focus();
                        	}
                        	else
                        	{
                        		$('#matchcase').removeClass('error');	
                        		$('#typeText').removeAttr('data-invalid');
                        	}
                        }
                        
                        </script>
                        <div id="matchcase" class="">          
                            <input id="typeText" type="text" required onblur="checkMatch();">
        		      		<small class="error">Human verification failed! Please retry</small>
                        </div>    
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>Message:</td>
		      		<td colspan="2">
		      			<textarea name="mailMessage" rows="10" cols="40" required>
 						</textarea>
 						<small class="error">The message body is required.</small>
 					</td>
		      	</tr>
		      	<tr>
		      	<td>&nbsp;</td>
		      	<td>&nbsp;</td>
		      	<td align="right"><input type="submit" value="Submit" class="radius large button"></td>
		      	</tr>
		      	
		      </table>
	      </fieldset>
	      </form>
      </div>

    </div><!-- end large-9 columns -->

    <!-- End Contact Details -->

    <!-- Sidebar -->

    <div class="large-3 columns">
      <p>
          <img src="img/get_in_contact.jpg">
        <br />
      </p>
    </div> 
    <!-- End Sidebar --> 
    
    </div><!-- end row -->

{% endblock %} 

{% block extralatejavascripts %}
	<script src="/js/foundation/foundation.abide.js"></script>
{% endblock %} 
