{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Create a fable{% endblock %}

{% block maincontent %}
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
        <div class="row">
            <h3>
                Start here, {{nickname}}!
            </h3>
            <p>
                With just a few clicks you can generate a complete fable, fully customized for your child.
            </p>
        </div>
        <div class="row">
            <img src="img/pic09.jpg">
        </div>
        <div class="row">
            <h5>
                &nbsp;
            </h5>
            {% if nr_fables %}
			<p>
				<a href="/step?s=0&id=-1" class="radius large button">Create a new fable</a>
			</p>
			
			<fieldset>
			<legend>... or edit an existing one:</legend>
			<table>
	            	<thead>
	            		<tr>
		            		<th>ID</th>
		            		<th>Template</th>
		            		<th>Name</th>
		            		<th>Sender</th>
		            		<th>Dedication</th>
		            		<th>&nbsp;</th>
		            		<th>&nbsp;</th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            	{% for fable in fables %}
	            		<tr>
	            			<td><a href="/step?s=3&id={{fable.id}}">{{forloop.counter}}</a></td>
	            			<td><a href="/step?s=3&id={{fable.id}}">{{fable.template}}</a></td>
	            			<td>{{fable.name}}</td>
	            			<td>{{fable.sender}}</td>
	            			<td>{{fable.dedication}}</td>
	            			<td><a href="/step?s=3&id={{fable.id}}">EDIT</a></a>
	            			</td>
	            			<td><a href="#" data-reveal-id="areYouSure{{fable.id}}">
	            			    <span data-tooltip class="has-tip" title="Delete fable #{{forloop.counter}}">
	            			    	&#215;
	            			    </span></a>
	            			</td>
	            		</tr>
	            	{% empty %}
	            		<tr>
	            			<td colspan="8">You have no fables in our records.</td>
	            		</tr>
	            	{% endfor %}
	            	</tbody>
	            </table>
	            </fieldset>
			
			{% else %}
			    <p>
                	<a href="/step?s=0&id=-1" class="radius large button">Click here to begin!</a>
            	</p>
			{% endif %}

        </div>
    </div><!-- Nav Sidebar -->
    
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">

      <div class="panel">
        <h4 class="hide-for-small">How to...</h4><hr/>
        <h5 class="subheader"><br/>Watch an explanatory video: <br/><br/><a href="/howitworks">Click here</a><br/></h5>
      </div>

    </div>
    
        <!-- Modal dialogs -->
    {% for fable in fables %}
    <div id="areYouSure{{fable.id}}" class="reveal-modal">
	  <h2>Delete a fable?</h2>
	  <p class="lead">Do you really want to delete fable #{{forloop.counter}}? </p>
	  <p><a href="/deletefable?id={{fable.id}}&retpage=create" class="secondary button">Ok, go ahead</a>&nbsp;
	     <a href="/create" class="secondary button">No, cancel</a></p>
	</div>
	{% empty %}
	<!-- No fables -->
	{% endfor %}
{% endblock %}