{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Create a fable{% endblock %}

{% block extraheader %}
<link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
{% endblock %}

{% block maincontent %}
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
        <div class="row">
            <h3>
                Start here, {{nickname}}!
            </h3>
            <p>
                With just a few clicks you can generate a complete fable, fully customized for your child.
            </p>
        </div>
        <div class="row">
            <img src="img/pic09.jpg">
        </div>
        <div class="row">
            <h5>
                &nbsp;
            </h5>
            {% if nr_fables %}
			<p>
				<a href="/step?s=0&id=-1" class="radius large button">Create a new fable</a>
			</p>
			
			<fieldset>
			<legend>... or edit an existing one:</legend>

{% include "list_of_fables.html" %}

	        </fieldset>
			
			{% else %}
			    <p>
                	<a href="/step?s=0&id=-1" class="radius large button">Click here to begin!</a>
            	</p>
			{% endif %}

        </div>
    </div><!-- Nav Sidebar -->
    
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">

      <div class="panel">
        <h4 class="hide-for-small">How to...</h4><hr/>
        <h5 class="subheader"><br/>Watch an explanatory video: <br/><br/><a href="/howitworks">Click here</a><br/></h5>
      </div>

    </div>
    
{% include "list_of_fables_modals.html" %} 
{% endblock %}

{% block extralatejavascripts %}
  	<script src="/js/foundation/foundation.tooltips.js"></script>
  	<script src="/js/foundation/foundation.reveal.js"></script>
{% endblock %}