
<div class="row">
  <div class="small-12 large-12 columns">
    <h3 class="fablemegreen">
       {{fable.title}}
    </h3>
    <div class="pricetag">{{ fable.price }}</div>
  </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <article style="font-size: smaller">
            <ul class="no-bullet">
                <li>Available in {{fable.languages}}</li>
                <li>Written by: {{fable.author_name}}</li>
                <li>Illustrated by: {{fable.author_ill}}<br /><br /></li>
                <li>{{fable.recommendation}}<br /><br /></li>
                <li>{{fable.desc_desc}}</li>
            </ul>
            <ul class="no-bullet">
                <li>
                    <a href="/preview?issuu={{fable.issuu_id}}" target="_blank">Book preview</a>
                </li>
            </ul>
        </article>
    </div>

</div>



