	<article>
	    <h3><a href="/book?bookid={{fable.id}}">{{fable.title}}</a></h3>
	    <p>{{fable.recommendation}}</p>
	    <ul style="margin-left:20px">
	        <li>Written by: {{fable.author_name}}</li>
	        <li>Illustrated by: {{fable.author_ill}}</li>
	        <li>Available in {{fable.languages}}<br/><br/></li>
            <li>{{recomm}}</li>
	    </ul>
	    <p>{{fable.desc_short}}<br/></p>
	    <ul style="margin-left:20px">
	        <li><a href="/preview?issuu={{fable.issuu_id}}">Book preview</a></li>
	    </ul>
	    <a href="/step?s=0&id=-1" class="radius button">Create this fable now!</a>
	</article>