
<footer class="row">

    <div class="small-12 columns">

        <hr />

        <div class="row">
            
            <div class="large-4 columns">
                <p class="small">
                <img class="" src="img/fableme_logo.jpg" alt="Logo" width="40%" height="40%">
                </p>
            </div>
            
            <div class="large-4 columns">
                <p class="small">
                    &copy; 2014 
                    <a href="http://www.fableme.com/">FableMe.com</a> 
                    <small>v.{{version}}</small>
                </p>
            </div>
                   
            <div class="large-4 columns">
                <ul class="inline-list right">
                    <li><a href="https://www.facebook.com/FableMeDotCom" target="_blank" class="webicon facebook">Like us on Facebook</a></li>
                    <!-- 
                    <li><a href="#" class="webicon googleplus" target="_blank">Like us on Google+</a></li>
                     -->
                    <li><a href="https://twitter.com/Fable_Me" target="_blank" class="webicon twitter">Follow us on Twitter</a></li>
                    <li><a href="http://www.pinterest.com/fableme" target="_blank" class="webicon pinterest">Like us on Pinterest</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>