{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Forgot Password{% endblock %}

{% block maincontent %}
<div class="row">

    <div class="large-8 push-4 columns">
    
        <div class="row">
            <h3>
                Password reset
            </h3>
        </div>
        <div class="row">
            <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
            <p>A new password has been set for <span class="toptitle">{{email_address}}</span></p>
            <section class="section">
                <p>Your old password has been deleted and a new one has been created
                   for you. You are suggested to change it at the next logon.
                <p><i>An e-mail has been sent to</i>  <span class="toptitle">{{email_address}}</span> <i>containing the new password.</i></p>
            </section>
        </div>
        <div class="row">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <a href="/" class="button">Home</a>
        </div>

    </div><!-- <div class="large-9 push-3 columns"> -->
    
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-4 pull-8 columns">
        <div class="row">
            <a href="#"><img src="/img/Anna.jpg" width="260px" /></a> 
            <br /><br /><br />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
    </div>
    
</div><!-- div class="row" -->
{% endblock %}
