{% extends "base_center.html" %}

{% block title %}FableMe - How to read an ePub{% endblock %}

{% block maincontent %}
         
    <h1>How to read an EPUB e-Book?</h1>
    
    <div>Search "epub reader" on Google or in the app store of your device and you'll find dozens of options to choose from. Here though are some good, <i>free</i> EPUB reading apps we'd recommend starting with:</div>
    <div><span style=""><br></span></div>
    
    <div><span style="">MAC/PC</span></div>
    <div>Sony Reader: <a href="http://bit.ly/UcXuWP" target="_blank" style="">http://bit.ly/UcXuWP</a> !!!!! (kobo)</div>
    <div>Adobe Digital Editions: <a href="http://adobe.ly/OfLNwj" target="_blank" style="">http://adobe.ly/OfLNwj</a></div>
    <div><br></div>
    
    <div>IPHONE/IPAD</div>
    <div>iBooks: <a href="http://bit.ly/ZrnAVa" target="_blank" style="">http://bit.ly/ZrnAVa</a></div>
    <div>Readmill: <a href="http://bit.ly/1divCqI" target="_blank" style="">http://bit.ly/1divCqI</a></div>
    <div><br></div>
    
    <div>ANDROID</div>
    <div>Aldiko: <a href="http://bit.ly/AuxTp0" target="_blank" style="">http://bit.ly/AuxTp0</a>
    </div>
    <div><br></div>
    
    <div>WINDOWS MOBILE</div>
    <div>Freda: <a href="http://bit.ly/X25Q1B" target="_blank" style="">http://bit.ly/X25Q1B</a>
    </div>
               
{% endblock %} 
     
