{% extends "base_center.html" %}

{% block title %}FableMe - How to read an ePub{% endblock %}

{% block maincontent %}
        
    
    <div class="large-12 columns">
    
    <h1>How to read an EPUB e-Book?</h1>
    
    <div class="row">                       
    <p>Search "epub reader" on Google or in the app store of your device and you'll find dozens of options to choose from. Here though are some good, <i>free</i> EPUB reading apps we'd recommend starting with:</p>
    </div>
    
    <div class="row">  MAC/PC <br>
    <p>
    Kobo: <a href="http://www.kobo.com/apps" target="_blank" style="">http://www.kobo.com/apps</a> 
    <br>
    Adobe Digital Editions: <a href="http://adobe.ly/OfLNwj" target="_blank" style="">http://adobe.ly/OfLNwj</a>
    </p>
    <br>
    </div>
    
    <div class="row">IPHONE/IPAD
    <p>
    iBooks: <a href="http://bit.ly/ZrnAVa" target="_blank" style="">http://bit.ly/ZrnAVa</a>
    <br>
    Readmill: <a href="http://bit.ly/1divCqI" target="_blank" style="">http://bit.ly/1divCqI</a>
    </p>
    <br>
    </div>
    
    <div class="row">ANDROID
    <p>Aldiko: <a href="http://bit.ly/AuxTp0" target="_blank" style="">http://bit.ly/AuxTp0</a>
    </p>
    <br>
    </div>
    
    <div class="row">WINDOWS MOBILE
    <p>Freda: <a href="http://bit.ly/X25Q1B" target="_blank" style="">http://bit.ly/X25Q1B</a>
    </p><br>
        
    </div>
               
{% endblock %} 
     
