{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
<!-- Body -->
  <div class="row">

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
      <div class="flex-video vimeo">
        <iframe src="http://player.vimeo.com/video/70361191?portrait=0&color=419cbe" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>

    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">

      <div class="panel">
        <h4 class="hide-for-small">How to...<hr/></h4>
      <h5 class="subheader">Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus.</h5>
      </div>

    </div>

  </div>

  <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>&nbsp;</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="img/pic04.jpg" width="500" height="500">
            <div class="panel">
              <p>King and Queen</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="img/pic07.jpg" width="500">
            <div class="panel">
              <p>Little Anna</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="img/pic05.jpg" width="500">
            <div class="panel">
              <p>Peter</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="img/pic06.jpg" width="500">
            <div class="panel">
              <p>Anna again</p>
            </div>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->

{% endblock %} 