{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
<!-- Body -->


    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-12 columns">

      
      		 <div class="flex-video vimeo widescreen">
		     
		     <iframe src="//player.vimeo.com/video/70361191?color=d87222&amp;autoplay=0" 
		             frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
		     </iframe>
		     
		     </div>
		
      
    </div>





{% endblock %} 