{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
<!-- Begin main block -->

       <!-- PC Header -->
      <div class="row">
        <div class="large-12 hide-for-small">
	        <div class="slideshow-wrapper">
	          <ul id="featured1" data-orbit data-options="timer_speed:5000; pause_on_hover: false">
	            <li>
	            	<img src="/img/illustration1.jpg" height="420" alt="FableMe.com"> 
	            </li>
	            <li>
	            	<img src="/img/illustration2.jpg" height="420" alt="FableMe.com">
	            </li>
	          </ul>
	        </div>
        </div>
      </div>

      <!-- Mobile Header -->
      <div class="row">
        <div class="large-12 columns show-for-small">
          <img src="img/illustration_small.jpg" alt="FableMe.com"></div>
      </div><br>

       <!-- PC Main buttons -->
      <div class="row">
        <div class="large-12 columns hide-for-small">

          <div class="row">
            <div class="large-6 small-6 columns">
              <div class="large-8 large-centered columns">
                <a href="/create" class="radius large button"> Create a fable</a>
              </div>
            </div>
            <div class="large-6 small-6 columns">
              <div class="large-8 large-centered columns">
                <a href="#" class="radius large button secondary" data-reveal-id="howitworks"> How it works</a>
              </div>
            </div>
          </div>
          <hr />

        </div>
      </div>
      
      <!-- Mobile Main buttons -->
      <div class="row">
        <div class="large-12 columns show-for-small">

          <div class="row">
            <div class="large-6 small-6 columns">
              <div class="large-8 large-centered columns">
                <a href="/create" class="radius large button">Create</a>
              </div>
            </div>
            <div class="large-6 small-6 columns">
              <div class="large-8 large-centered columns">
                 <a href="#" class="radius large button alert" data-reveal-id="howitworks">How</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-7 small-5 columns">

              <h5>
                <a href="#">Fairy tales</a>
              </h5>
              <hr>
              <p> <b>Fairy tales</b>
                teach moral lessons and promote reading, education and litercy to children. 
                Presenting children an ebook about themselves will grab their attention and 
                encourage them to read more often. Creating  apersonalized fairy tale is fast and easy. 
                You can choose within a variety of fairy tales templates, provide the child's personalized 
                data such as the name, and have the tale generated in <i>PDF format</i> , readable on <b>Apple</b>
                ,
                <b>Android</b>
                and
                <b>Kindle</b>
                devices.
              </p>

            </div>

            <div class="large-4 small-8 columns">
              <hr class="show-for-small">
              <h5>
                <a href="#">News</a>
              </h5>
              <hr>
              <div class="panel">
                <h5>
                  <a href="#">New Fable</a>
                </h5>

                <h6 class="subheader"><i>My voyage to Aragon</i> available in English and Italian</h6>

                <h6>
                  <a href="#">Read More +</a>
                </h6>
              </div>

              <div class="panel hide-for-small">
                <h5>
                  <a href="#">New Fable +</a>
                </h5>
              </div>

              <div class="panel hide-for-small">
                <h5>
                  <a href="#">Available Devices +</a>
                </h5>
              </div>

              <a href="#" class="right">Read All News +</a>

            </div>

            </div>
        </div>
      </div>
      
       
	  <div id="howitworks" class="reveal-modal large">
		 <div class="flex-video vimeo widescreen">
		     
		     <iframe src="//player.vimeo.com/video/70361191?color=d87222&amp;autoplay=0" 
		             frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
		     </iframe>
		     
		     </div>
		
		 <a class="close-reveal-modal">&#215;</a>
	  </div>
      

        <!-- End main block -->
{% endblock %}  

{% block extralatejavascripts %}
	<script src="/js/foundation/foundation.reveal.js"></script>
	<script src="/js/foundation/foundation.orbit.js"></script>
	<script>
	<!-- Delay loading vimeo video until the user presses a button -->
	var iframes = $('iframe');

	$('button').click(function() {
	    iframes.attr('src', function() {
	        return $(this).data('src');
	    });
	});
	
	iframes.attr('data-src', function() {
	    var src = $(this).attr('src');
	    $(this).removeAttr('src');
	    return src;
	});
	</script>
{% endblock %}
