{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
    <!-- Begin main block -->

    <!-- PC Header -->
    <div class="row">
        <div class="large-12 columns hide-for-small">
            <div class="slideshow-wrapper">
                <ul id="featured1" data-orbit data-options="timer_speed:5000; pause_on_hover: false">
                    <li>
                        <img src="/img/illustration1.jpg" alt="FableMe.com">
                    </li>
                    <li>
                        <img src="/img/illustration2.jpg" alt="FableMe.com">
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile Header -->
        <div class="small-12 columns show-for-small">
            <img src="img/illustration_small.jpg" width="100%" alt="FableMe.com" style="margin:0 auto">
        </div>
    </div>


    <br/><!-- Small break between image and buttons -->

    <!-- PC Main buttons -->
    <div class="row">
        <div class="large-12 columns hide-for-small">

            <div class="row">
                <div class="large-6 columns">
                    <div class="large-8 large-centered columns">
                        <a href="/create" class="radius large button"> Create a fable</a>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="large-8 large-centered columns">
                        <a href="/howitworks" class="radius large button secondary"> How it works</a>
                    </div>
                </div>
            </div>
            <hr/>

        </div>
    </div>

    <!-- Mobile Main buttons -->
    <div class="row">
        <div class="small-12 columns show-for-small">

            <table style="border: none" width="100%">
                <tr>
                    <td style="text-align:center"><a href="/create" class="radius large button">Create</a></td>
                    <td style="text-align:center"><a href="/howitworks" class="radius large button secondary">How&nbsp;to</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <!-- Shows -->
                <div class="large-8 columns">

                    <h5>
                        <a href="#">Fairy tales</a>
                    </h5>
                    <hr>
                    <p><b>Fairy Tales</b>
                        teach moral lessons and promote reading, education and literacy to children.
                        Presenting children an ebook about themselves will grab their attention and
                        encourage them to read more often. Creating a personalized fairy tale is fast and easy.
                        You can choose within a variety of fairy tales templates, provide the child's personalized
                        data such as the name, and have the tale generated in <i>PDF</i> and <i>ePub</i> formats,
                        readable on your mobile devices (Apple, Sony, Android, Kindle...)
                    </p>

                </div>
                <!-- class="large-4 push-8 columns" -->

                <div class="large-4 columns">
                    <!-- News -->
                    <hr class="show-for-small">
                    <h5>
                        <a href="#">News</a>
                    </h5>
                    <hr>
                    <div class="panel">
                        <h5>
                            <a href="#">ePub support!</a>
                        </h5>
                        <h6 class="subheader">
                            FableMe now supports the creation of eBooks in the ePub format.
                        </h6>
                    </div>
                    <!-- class panel -->

                </div>
                <!-- class="large-4 columns"-->

            </div>
            <!-- class="row" -->
        </div>
        <!-- class="large-12 columns" -->
    </div> <!-- class="row" -->



    <!-- End main block -->
{% endblock %}

{% block extralatejavascripts %}
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script>
        $(function () {
            $(window).trigger("resize");
        });
    </script>
{% endblock %}
