{% extends "base_center.html" %}

{% block title %}FableMe{% endblock %}

{% block maincontent %}
<!-- Body -->


    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-11 large-offset-1 columns">

      <div class="row">
      
      		 <div data-configid="{{issuu_id}}" style="width: 720px; height: 466px;" class="issuuembed">
      		 </div>
      		 
      		 <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
      		 
      </div>
		
      
    </div>





{% endblock %} 