<table>
	<thead>
		<tr>
    		<th>&nbsp;</th>
            <th>Fable Template</th>
    		<th>Child Name</th>
    		<th>Download</th>
            <th>Purchase Date</th>
            <th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{% for fable in bought_fables %}
		<tr>
			<td><a href="#">{{forloop.counter}}</a></td>
            <td>{{fable.template.title}}</td>
			<td>{{fable.name}}</td>
			<td><a href="{{fable.downlink}}"><b>Click to download&hellip;</b></a></td>	
            <td>{{fable.purchased}}</td>	
			<td><a href="{{fable.downlink}}"><img src="/img/download.png" width="30px" alt="Download"></a></td>

		</tr>
	{% empty %}
		<tr>
			<td colspan="8">You did not purchase any fable yet.</td>
		</tr>
	{% endfor %}
	</tbody>
</table>    		


