<nav class="top-bar bottomspacer">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1>
                    <a href="/"><span class="toptitle">FableMe.com</span></a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">

            <ul class="right">
                        
                {% if loginobj.is_logged %}
                <li class="has-dropdown">
                    <a href="#">My FableMe</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/myaccount">My account</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="logoutFromEverything()">Sign out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="/login"><span class="signin">Sign In</span></a>
                </li>
                {% endif %}
                
                <li>
                    <a href="/create">Create a fable</a>
                </li>
                
                <li>
                    <a href="/allfables">Fables</a>
                </li>
                                                    
                <li class="has-dropdown">
                    <a href="/howitworks">How it works</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/howitworks">What is all about?</a>
                        </li>
                        <li>
                            <a href="/howtoreadepub">How to read an ePUB</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="/contacts">Contacts</a>
                </li>
            </ul>
        </section>
    </nav>