{% extends "base_center.html" %}

{% block title %}FableMe - Buy eBook{% endblock %}

{% block maincontent %}

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                We are processing your order... Please wait
            </p>
        </div>
    </div>


    <!-- Main Content Section -->
    <div class="large-12 small-12 columns">
    
        <div class="row">
        
            <div class="large-5 columns" align="center">
             
                    <fieldset>
                        <legend>Your eBook is ready!</legend>
                        <!-- {{templatesex}} -->
                    {% if templatesex == "M" %}
                        <img name="cover_image" src="/img/covers/{{template.bookimg_boy}}" alt="{{fable.title}}" />
                    {% else %}
                        <img name="cover_image" src="/img/covers/{{template.bookimg_girl}}" alt="{{fable.title}}" />
                    {% endif %}
                    </fieldset>
                            
           </div>
           
           <div class="large-7 columns">
           
                               
                    <div class="row">
                   
                        <h2>Thank you for your purchase!</h2>
                        <p>Your order has been placed.</p>
                        <p>You will receive an e-mail with instructions on how to download your e-book!</p>
                        <p><i>The FableMe team</i></p>
                    
                    </div>
                    
                    <div class="row">
                        <a href="/" class="radius button">Home</a>
                    </div>
                    
           </div>
                    
                        
                       
        </div>
        

    
    </div>
    
 {% endblock %}