{% extends "base_center.html" %}

{% block title %}FableMe - Order Complete{% endblock %}

{% block maincontent %}


    <!-- Main Content Section -->
    <div class="large-12 small-12 columns">
    
        <div class="row">
        
            <div class="large-5 columns" align="center">
             
                    <fieldset>
                    {% if order_complete %}
                        <legend>Your eBook is ready!</legend>
                    {% else %}
                        <legend>eBook</legend>
                    {% endif %}
                        <!-- {{templatesex}} -->
                    {% if templatesex == "M" %}
                        <img name="cover_image" src="/img/covers/{{template.bookimg_boy}}" alt="{{fable.title}}" />
                    {% else %}
                        <img name="cover_image" src="/img/covers/{{template.bookimg_girl}}" alt="{{fable.title}}" />
                    {% endif %}
                    </fieldset>
                            
           </div>
           
           <div class="large-7 columns">
           
                               
                    <div class="row">
                   
                    {% if order_complete %}
                        <h2>Thank you for your purchase!</h2>
                        <p>Your order has been placed.</p>
                        <p>You will receive an e-mail with instructions on how to download your e-book!</p>
                        <p><i>The FableMe team</i></p>
                    {% else %}
                        <h2>Your order could not complete.</h2>
                        <div style="color:red">
                            <p>{{errormsg_1}}</p>
                            <p>{{errormsg_2}}</p>
                        </div>
                    {% endif %}
                    
                    </div>
                    
                    <div class="row">
                        <a href="/" class="radius button">Home</a>
                    </div>
                    
           </div>
                    
                        
                       
        </div>
        

    
    </div>
    
 {% endblock %}