{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Create a fable - Print{% endblock %}

{% block extraheader %}
    <link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
{% endblock %}

{% block maincontent %}

    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) 
    but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
        <div class="row">
            <h3>
                Your fable is ready!
            </h3>
        </div>
        <div class="row">

            <h2><br/><a href="#">{{title}}</a></h2>
            <textarea name='fableText' rows='20' cols='60' oncopy="return false" readonly>
            {{fable_contents}}
            </textarea>
              
        </div>
        <div class="row">
     
        	<a href="/buy?id={{fable_id}}" class="radius button"> Add to cart</a>
            &nbsp;
            <!-- PRINT URL: /print/book?id={{fable_id}}&fmt=EPUB  -->
            <a href="#" data-reveal-id="fableSaved"  class="radius secondary button"> Save it for later</a>
            <!-- Reveal Modals begin -->
            <div id="fableSaved" class="reveal-modal" data-reveal>
              <h2>Fable saved.</h2>
              <p>Your fable has been saved. You may recover it at any time by going into your <a href="/myaccount">Account</a> page.</p>
              <p><a href="/myaccount" class="radius secondary button">Go to my account</a></p>
              <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>


    </div><!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns hide-for-small">
        <h3>
            Steps
        </h3>
        <ul class="side-nav">
            <li>
                <a href="/step?s=0&id={{fable_id}}">1. Choose a template</a>
            </li>
            <li>
                <a href="/step?s=1&id={{fable_id}}">2. Choose a language</a>
            </li>
            <li>
                <a href="/step?s=2&id={{fable_id}}">3. Child information</a>
            </li>
            <li>
                <a href="/step?s=3&id={{fable_id}}">4. Dedication</a>
            </li>
            <li>
                <a href="/step?s=4&id={{fable_id}}">5. Summary</a>
            </li>
            <li>
                <a href="#"><b>6. Book preview</b></a>
            </li>
        </ul>
        <p>
            <img src="img/Step6.jpg">
        </p>
    </div>
  
{% endblock %}

{% block extralatejavascripts %}
    <script src="/js/foundation/foundation.reveal.js"></script>  
{% endblock %}