{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Create a fable - Print{% endblock %}

{% block extraheader %}
    <link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/jquery-ui.custom.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/spin.js"></script>	
	<style type="text/css">
    #loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
</style>
	
{% endblock %}

{% block maincontent %}

	<div id="loading">
	    <div id="loadingcontent">
	        <p id="loadingspinner">
	            Creating PDF... Please wait
	        </p>
	    </div>
	</div>


    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) 
    but to be to the right of the nav on larger screens -->
    <div class="large-9 push-4 columns">
        <div class="row">
            <h3>
                Your fable is ready!
            </h3>
        </div>
        <div class="row">

            <h2><br/><a href="#">{{title}}</a></h2>
            <textarea name='fableText' rows='20' cols='60' readonly>
            {{fable_contents}}
            </textarea>
              
        </div>
        <div class="row">
        
        	<a href="/print/pdf?id={{fable_id}}" id="downloadbtn" class="radius large button"> Download PDF!</a>
        
        </div>

    </div><!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        <h3>
            Steps
        </h3>
        <ul class="side-nav">
            <li>
                <a href="/step?s=0">1. Choose a template</a>
            </li>
            <li>
                <a href="/step?s=1">2. Child information</a>
            </li>
            <li>
                <a href="/step?s=2">3. Dedication</a>
            </li>
            <li>
                <a href="/step?s=3">4. Summary</a>
            </li>
            <li>
                <a href="#"><b>5. Preview</b></a>
            </li>
        </ul>
        <p>
            <img src="img/Step6.jpg">
        </p>
    </div>
    
    <script type="text/javascript">
	    $(function () {
	        $("#downloadbtn").click(function () {
	            $("#loading").fadeIn();
	            var opts = {
	                lines: 12, // The number of lines to draw
	                length: 7, // The length of each line
	                width: 4, // The line thickness
	                radius: 10, // The radius of the inner circle
	                color: '#000', // #rgb or #rrggbb
	                speed: 1, // Rounds per second
	                trail: 60, // Afterglow percentage
	                shadow: false, // Whether to render a shadow
	                hwaccel: false // Whether to use hardware acceleration
	            };
	            var target = document.getElementById('loading');
	            var spinner = new Spinner(opts).spin(target);
	        });
	    });
	</script>
  
{% endblock %}