{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - User registration{% endblock %}

{% block extraheader %}
    <link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
{% endblock %}

{% block maincontent %}
<div class="row">

    <div class="large-8 push-4 columns">
    
        <div class="row">
            <h3>
                Welcome to FableMe!
            </h3>
        </div>
        <div class="row">
            <p>Please register to <i>FableMe</i> using the form below:</p>
            <section class="section">
	            <form action="/register" method="post" novalidate data-abide>
	            	<fieldset>
	            	<legend>Registration Form</legend>
	            		<div class="row collapse name-field">
			            	<div class="large-4 columns">
				            	<label class="inline">Your First and Last Name:</label>
				            </div>
				            <div class="large-7 columns">
				            	<input type="text" name="firstLastName" required pattern="alpha">	
				            	<small class="error">First and last name is required.</small>
				            </div>
			            </div>
			            <div class="row collapse">
			            	<div class="large-4 columns">
				            	<label class="inline">Username:</label>
				            </div>
				            <div class="large-7 columns">
				            	<input type="text" name="nickName" required pattern="alpha_numeric">
				            	<small class="error">Username is required and must be an alpha-numeric string.</small>	
				            </div>
			            </div>
			            <div class="row collapse">
			            	<div class="large-4 columns">
				            	<label class="inline">eMail:</label>
				            </div>
				            <div class="large-7 columns">
				            	<input type="email" name="email" readonly="true" value="{{emailaddr}}">	
				            </div>
			            </div>
			            <div class="row collapse">
			            	<div class="large-4 columns">
				            	<label class="inline">Birth date:</label>
				            </div>
				            <div class="large-7 columns">
				            	<input type="date" name="birthDate" required pattern="date">
				            	<small class="error">Please enter a date in the format YYYY-MM-DD.</small>
				            </div>
			            </div>
			            <div class="row collapse">
			            	<div class="large-4 columns">
				            	<label class="inline">Receive news from FableMe.com?</label>
				            </div>
				            <div class="large-7 columns">
				            	<input type="checkbox" name="receiveNews">
				            </div>
			            </div>
			            <div class="row">
			            	<div class="large-11 columns">
		            			&nbsp;
		            		</div>
		            	</div>
		            	<div class="row">
			            	<div class="large-11 columns">
		            			<button type="submit" class="radius button">Submit</button>
		            		</div>
		            	</div>
		            </fieldset>
		        </form>
	        </section>
        </div><!-- div class="row"-->

    </div><!-- <div class="large-9 push-3 columns"> -->
    
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-4 pull-8 columns">
        <div class="row">
            <a href="#"><img src="/img/Anna.jpg" width="260px" /></a> 
            <br /><br /><br />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
    </div>
    
</div><!-- div class="row" -->
{% endblock %}

{% block extralatejavascripts %}
<script src="/js/foundation/foundation.abide.js"></script>
<script>Modernizr.load({
	  test: Modernizr.inputtypes.date,
	  nope: ['http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js', 'jquery-ui.css'],
	  complete: function () {
	    $('input[type=date]').datepicker({
	      dateFormat: 'yy-mm-dd'
	    }); 
	  }
	});
</script>
{% endblock %}