{% extends "base_leftsidebar.html" %}

{% block title %}FableMe - Sign In{% endblock %}

{% block extraheader %}
    <link href="/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
{% endblock %}

{% block maincontent %}

<div class="row">

    <div class="large-8 push-4 columns">
    
        <div class="row">
    
            <div class="small-12 columns">

                <form id="loginform" action="/login" method="POST">
        
                <div class="signup-panel text-center">
                <strong> Welcome to FableMe!</strong>
                <p>&nbsp;</p>
                    
                  <div class="row collapse">
                    <div class="small-6 columns">
                        <a href="#" onclick="fb_login();"><img src="/img/connect_with_facebook.jpg" border="0" alt="Facebook Login"></a>
                    </div>
                    <div class="small-6 columns">
                        <a href="{{google_login}}"><img src="/img/connect_with_google.jpg" border="0" alt="Facebook Login"></a>
                    </div>
                  </div>
                  <hr>

                  <div class="row collapse">
                    <br>
                    <div class="small-3 columns">
                       <label for="email" class="right inline">eMail: &nbsp;&nbsp;</label>
                    </div>
                    <div class="small-7  columns left">
                      <input type="email" name="email" id="email" placeholder="your e-Mail address" required="true">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 columns ">
                      <label for="password" class="right inline">Password: &nbsp;&nbsp;</label>
                    </div>
                    <div class="small-7 columns left ">
                      <input type="password" name="password" id="password" placeholder="Password" required="true">
                    </div>
                  </div>

                  <div class="row collapse">
                    <div class="small-12 columns text-center">
                        <input type="hidden" id="loginsource" name="loginsource">
                        <input type="submit" class="button" value="Login">
                        <p>Need to register? <a href="/register">Sign up here &raquo;</a></p>
                    </div>
                    <input type="hidden" name="nick" id="nick">
                    </div>
                  </div>
                
                </form>
                
        {% if unknownuser %}
            <div data-alert class="alert-box secondary">
              <p><b>Unknown user</b></p>
              <p>Need to register? <br><a href="/register">Sign up here &raquo;</a></p>
              <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
        
        {% if wrongpassword %}
            <div data-alert class="alert-box warning">
              <p><b>Wrong password.</b>&nbsp;
              <br>Did you <a href="#" style="color:white; text-decoration: underline;">forget your password?</a></p>
              <a href="#" class="close">&times;</a>
            </div>
        {% endif %}
            
            
            </div><!-- small12 -->
           
        </div><!-- Row -->     
        
      </div><!-- Right bar -->
    
    <div class="large-4 pull-8 columns">
        <div class="row hide-for-small">
            <a href="#"><img src="/img/Anna.jpg" width="260px" style="margin-top: 30px" /></a> 
            <br /><br /><br />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
    </div><!-- Left bar -->
    
</div><!-- Row -->

{% endblock %}

{% block extralatejavascripts %}
<script src="js/foundation/foundation.alerts.js"></script>
{% endblock extralatejavascripts %}

