{% extends "base_leftsidebar.html" %} 

{% block title %}FableMe - Create a fable - Step 2{% endblock %} 

{% block extraheader %}
{% endblock %} 

{% block maincontent %}

<!-- Main Content Section -->
<div class="large-9 push-3 columns">
    <div class="row">
        <h3>A word of dedication...</h3>
    </div>
    <div class="row">
        <form method="get" action="/step" novalidate data-abide>
            <table>
                <tr>
                    <td colspan="2">&nbsp;</td>
                <tr>
                    <!-- NAMES OF PARENTS -->
                    <td width="200" id="questionnaire">Sender <br />(ie: Mom and Dad):</td>
                    <td width="300" id="questionnaire">
                    	<input type="text" id="txtname" name="value" value="{{sender}}" required pattern="[a-zA-Z]+"> 
                    	<small class="error">Name is required and must be a string.</small>
                    </td>
                </tr>
                <tr>
                    <!-- DEDICATION -->
                    <td id="questionnaire">Dedication</td>
                    <td id="questionnaire"><textarea style="width: 290px; height: 150px;" name="value"
                            placeholder="Example: this book has been created especially for Johnny. We love you very much. Mom & Dad">{{dedication}}</textarea></td>
                </tr>
            </table>
			<input type="hidden" name="s" value="3">
			<input type="hidden" name="id" value="{{fable_id}}">
            <input type="button" value="Previous" class="radius secondary large button" onclick="location.href='/step?s=1&id={{fable_id}}';">&nbsp; 
            <input type="submit" value="Next" class="radius large button">
        </form>

    </div>
    <div class="row">
        <h3>&nbsp;</h3>
    </div>

</div>
<!-- Nav Sidebar -->
<!-- This is source ordered to be pulled to the left on larger screens -->
<div class="large-3 pull-9 columns">
    <h3>Steps</h3>
        <ul class="side-nav">
            <li>
                <a href="/step?s=0&id={{fable_id}}">1. Choose a template</a>
            </li>
            <li>
                <a href="/step?s=1&id={{fable_id}}">2. Child information</a>
            </li>
            <li>
                <a href="/step?s=2&id={{fable_id}}"><b>3. Dedication</b></a>
            </li>
            <li>
                <a href="#">4. Summary</a>
            </li>
            <li>
                <a href="#">5. Preview</a>
            </li>
        </ul>
    <p>
        <img src="img/Step3.jpg">
    </p>
</div>

{% endblock %}

{% block extralatejavascripts %}
<script src="/js/foundation/foundation.abide.js"></script>
{% endblock %}

