{% extends "base_center.html" %} 
{% block title %}FableMe - Create a fable - Step 1{% endblock %} 
{% block maincontent %}

<div class="large-9 push-3 columns">

    <div class="row">
        <h3>Language...</h3>
        <p>Template: {{fable_template.title}}</p>
    </div>

    <div class="row">
            
        <form id="step1_form" method="get" action="/step" novalidate data-abide>
            <input type='hidden' name='s' value='2'> 
            
        <table>
        
        	<tr>
		        <td width="30%" class="hide-for-small">
		             <img src="img/language-learning-small.jpg"> 
		        </td> 
           
		        <td>
		          <table>
		          	<tr>
		                    <fieldset>
		                    <label for='language'><b>Choose Language:</b></label> 
		                     <select name='value' id='slcLang' required>
		                        <option value="">---</option>
		                        <option value="EN">English ({{fable_template.title}})</option>
		                        <option value="IT">Italian ({{fable_template.title_IT}})</option>
		                        <option value="RO">Romanian ({{fable_template.title_RO}})</option>
		                     </select>
		                    </fieldset>
		            	</tr>
		            	<tr>
				            <input type="button" value="Back" 
				                   class="radius secondary button" 
				                   onclick="location.href='/step?s=0';">&nbsp; 
				            <input type="submit" value="Next" class="radius button">
		            	</tr>
		            </table>
		        </td>
           </tr>
        </table>
        </form>

    </div>

</div>

<div class="large-3 pull-9 columns hide-for-small">
    <h3>Steps</h3>
    <ul class="side-nav">
        <li><a href="/step?s=0">1. Choose a template</a></li>
        <li><a href="/step?s=1"><b>2. Choose a language</b></a></li>
        <li><a href="#">3. Child information</a></li>
        <li><a href="#">4. Dedication</a></li>
        <li><a href="#">5. Summary</a></li>
        <li><a href="#">6. Book preview</a></li>
    </ul>
    <p>
        <img src="img/Step2.jpg">
    </p>
</div>

{% endblock %} {% block extralatejavascripts %}
<script type="text/javascript">
	$(function() {
		var img;
		var currentImageSrc = $('#coverImg').attr("src");
		var idx = currentImageSrc.lastIndexOf('.');
		var baseImage = currentImageSrc.slice(0, idx);
		var fableTitle_EN = '{{fable.title}}';
		var fableTitle_IT = '{{fable.title_IT}}';
		var fableTitle_RO = '{{fable.title_RO}}';

		$('#slcLang').change(function() {
			var selected = $("#slcLang").val();

			if (selected === 'IT') {
				img = baseImage + '_IT.jpg';
				fableTitle = fableTitle_IT;
			} else if (selected === 'RO') {
				img = baseImage + '_RO.jpg';
				fableTitle = fableTitle_RO;
			} else {
				img = baseImage + '.jpg';
				fableTitle = fableTitle_EN;
			}

			$('#coverImg').attr("src", img);
			$('#fabletitle').text(fableTitle);
			return false;
		});
	});
</script>
<script src="/js/foundation/foundation.abide.js"></script>
{% endblock %}

