@media only screen and (min-width: 768px) {

.onespacer {
  margin-top: 1em;
  margin-bottom: 1em; }

.twospacer {
  margin-top: 2em;
  margin-bottom: 2em; }

.halfspacer {
  margin-top: .5em;
  margin-bottom: .5em; }

}

textarea { height: auto; }

.signin { color: #d87222; }  /* Orange color */