@media only screen and (min-width: 1024px) {

.onespacer {
  margin-top: 1em;
  margin-bottom: 1em; }

.twospacer {
  margin-top: 2em;
  margin-bottom: 2em; }

.halfspacer {
  margin-top: .5em;
  margin-bottom: .5em; }
  
.bottomspacer {
  margin-bottom: 1.5em; }
}

textarea { height: auto; }

body {
  font-family: "Paprika", Helvetica, Arial, sans-serif;
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Paprika", Helvetica, Arial, sans-serif;
}

.toptitle { color: #3b9158; }  /* Dark green color */

.signin { color: #d87222; }  /* Orange color */
/* Primary color = #255d47 */